In [2]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
energy_data = "Data files/duke_energy_2010.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data

households = pd.read_csv("Data files/duke_energy_2010.csv")
households.head()

,SAMPLE_ID,SAMPLE_ENERGY,SAMPLE_USAGE,SAMPLE_REVENUE,SAMPLE_HHAGE,SAMPLE_INC,SAMPLE_REGION,SAMPLE_ACCOUNT_ACTIVATION_DATE,SAMPLE_MAILING_ADDRESS,SAMPLE_MAILING_CITY,...,highenergyproblem,futurelifeconcern,ccreal,scarce,nuclear,solar,wind,muchasican,futurepower,phev
0,40414551,21156,1763.000000,3141.989990,6,7,SOUTH COASTAL,0,502 WHITE OAK DR,TARPON SPGS,...,10.0,9.0,10.0,10.0,10.0,10.0,10.0,7.0,9.0,9.0
1,40418276,3952,329.329987,586.179993,5,6,SOUTH COASTAL,0,10141 BRIAR CIR,HUDSON,...,10.0,10.0,10.0,9.0,1.0,10.0,10.0,9.0,5.0,4.0
2,40409966,19189,1599.079956,2664.229980,6,7,SOUTH CENTRAL,0,530 VISTA OAKS WAY,DAVENPORT,...,10.0,10.0,2.0,10.0,10.0,8.0,8.0,6.0,8.0,10.0
3,40410026,16647,1387.250000,2145.000000,5,6,SOUTH CENTRAL,0,2315 AVALON RD,SEBRING,...,9.0,9.0,1.0,6.0,9.0,9.0,7.0,4.0,4.0,5.0
4,30312281,10374,864.500000,1359.869995,7,3,SOUTH CENTRAL,0,3513 INDIAN SUMMER TRL,SEBRING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN