In [40]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress


# Read the City and Ride Data

attitudes = pd.read_csv("Data/duke_energy_2010.csv")
attitudes.head()

,zip,SAMPLE_ID,SAMPLE_ENERGY,SAMPLE_USAGE,SAMPLE_REVENUE,SAMPLE_HHAGE,SAMPLE_INC,SAMPLE_REGION,SAMPLE_ACCOUNT_ACTIVATION_DATE,SAMPLE_MAILING_ADDRESS,...,ccreal,scarce,nuclear,solar,wind,muchasican,futurepower,phev,Q7,_merge
0,27603,10100106,17765,1480.420044,1899.530029,4,6,NORTHERN REGION,20070731,180 TRAVEL LITE DR,...,2.0,5.0,8.0,6.0,6.0,10.0,3.0,1.0,5,matched (3)
1,27807,10100111,17818,1484.829956,1919.380005,6,4,NORTHERN REGION,19910523,7554 SQUIRREL DEN RD,...,9.0,1.0,10.0,10.0,4.0,8.0,9.0,9.0,5,matched (3)
2,27540,10100131,18013,1501.079956,1950.459961,3,8,NORTHERN REGION,20040622,729 LITTLE LEAF CT,...,1.0,8.0,5.0,8.0,8.0,4.0,8.0,5.0,6,matched (3)
3,27545,10100146,18062,1505.170044,1819.969971,3,5,NORTHERN REGION,20000417,406 PINE RUN,...,10.0,9.0,4.0,10.0,8.0,8.0,9.0,4.0,3,matched (3)
4,27616,10100171,18333,1527.750000,1695.010010,4,3,NORTHERN REGION,19920313,3416 TUNAS ST,...,10.0,10.0,10.0,10.0,7.0,6.0,7.0,1.0,4,matched (3)

In [41]:
# Creating scales based on shared constructs: "greeness" "first adopter" "conserver"

greenness = []

for index, row in attitudes.iterrows():
    greenness.append(row.conscientiousrecycle + row.ccreal + row.reduceenergy + row.willingchanges)



conserver = []

for index, row in attitudes.iterrows():
    conserver.append(row.muchasican + row.realeffort  + row.payattn)
    
firstadopter = []

for index, row in attitudes.iterrows():
    firstadopter.append(row.firstone + row.phev + row.mycellphone)

In [42]:
attitudes["greenness"]=pd.Series(greenness)/4
attitudes["conserver"]=pd.Series(conserver)/3
attitudes["firstadopter"]=pd.Series(firstadopter)/3

attitudes.head(20)

,zip,SAMPLE_ID,SAMPLE_ENERGY,SAMPLE_USAGE,SAMPLE_REVENUE,SAMPLE_HHAGE,SAMPLE_INC,SAMPLE_REGION,SAMPLE_ACCOUNT_ACTIVATION_DATE,SAMPLE_MAILING_ADDRESS,...,solar,wind,muchasican,futurepower,phev,Q7,_merge,greenness,conserver,firstadopter
0,27603,10100106,17765,1480.420044,1899.530029,4,6,NORTHERN REGION,20070731,180 TRAVEL LITE DR,...,6.0,6.0,10.0,3.0,1.0,5,matched (3),3.75,8.333333,5.333333
1,27807,10100111,17818,1484.829956,1919.380005,6,4,NORTHERN REGION,19910523,7554 SQUIRREL DEN RD,...,10.0,4.0,8.0,9.0,9.0,5,matched (3),7.00,7.333333,6.333333
2,27540,10100131,18013,1501.079956,1950.459961,3,8,NORTHERN REGION,20040622,729 LITTLE LEAF CT,...,8.0,8.0,4.0,8.0,5.0,6,matched (3),5.50,6.000000,7.666667
3,27545,10100146,18062,1505.170044,1819.969971,3,5,NORTHERN REGION,20000417,406 PINE RUN,...,10.0,8.0,8.0,9.0,4.0,3,matched (3),8.00,8.666667,4.333333
4,27616,10100171,18333,1527.750000,1695.010010,4,3,NORTHERN REGION,19920313,3416 TUNAS ST,...,10.0,7.0,6.0,7.0,1.0,4,matched (3),8.50,7.333333,3.666667
5,27609,10100211,18734,1561.170044,1853.449951,5,9,NORTHERN REGION,19920814,2109 TREVERTON PL,...,5.0,3.0,10.0,9.0,5.0,5,matched (3),8.75,9.666667,6.333333
6,27612,10100241,19144,1595.329956,1959.550049,4,0,NORTHERN REGION,19890727,2421 BASIL DR,...,5.0,5.0,6.0,9.0,10.0,6,matched (3),8.50,8.666667,5.666667
7,27573,10100261,19334,1611.170044,2082.909912,5,7,NORTHERN REGION,20071011,510 W GORDON ST,...,10.0,10.0,8.0,8.0,8.0,5,matched (3),7.75,7.333333,5.333333
8,27603,10100276,19417,1618.079956,2001.609985,5,7,NORTHERN REGION,19871218,537 MAPLE LN,...,9.0,9.0,8.0,8.0,7.0,5,matched (3),8.50,8.666667,7.333333
9,27606,10100291,19498,1624.829956,1966.479980,5,6,NORTHERN REGION,19770610,4609 WOODSIDE CT,...,8.0,8.0,7.0,7.0,2.0,5,matched (3),6.50,7.000000,3.000000
10,27856,10100311,19994,1666.170044,2122.000000,3,7,NORTHERN REGION,20030228,1504 GLEN EAGLES CT,...,7.0,4.0,6.0,8.0,5.0,3,matched (3),5.25,7.000000,5.000000
11,27513,10100316,19995,1666.250000,2092.100098,4,0,NORTHERN REGION,19991109,107 SMITHS KNOLL CT,...,7.0,7.0,5.0,5.0,5.0,7,matched (3),5.25,5.000000,4.000000
12,27603,10100321,20018,1668.170044,2132.149902,6,6,NORTHERN REGION,20040813,2133 BALBOA RD,...,9.0,9.0,8.0,8.0,4.0,3,matched (3),8.25,7.333333,4.333333
13,27581,10100341,20258,1688.170044,2049.840088,5,0,NORTHERN REGION,20080625,4042 RANEY WAY DR,...,10.0,10.0,2.0,8.0,6.0,4,matched (3),6.50,4.333333,4.333333
14,27856,10100381,20582,1715.170044,2192.419922,4,6,NORTHERN REGION,19960628,2565 W CASTALIA RD,...,10.0,10.0,8.0,8.0,7.0,4,matched (3),7.00,9.333333,3.666667
15,27501,10100421,20842,1736.829956,2216.500000,5,5,NORTHERN REGION,20060721,105 DANNY CIR,...,5.0,7.0,5.0,5.0,3.0,3,matched (3),6.25,7.000000,4.333333
16,27610,10100436,21105,1758.750000,2232.149902,3,1,NORTHERN REGION,20061011,1111 GATLING ST,...,6.0,6.0,10.0,8.0,7.0,5,matched (3),8.50,10.000000,6.666667
17,27882,10100446,21200,1766.670044,2134.120117,5,1,NORTHERN REGION,19911219,PO BOX 1348,...,9.0,9.0,4.0,7.0,1.0,6,matched (3),6.00,5.333333,1.666667
18,27513,10100471,21430,1785.829956,2305.010010,5,0,NORTHERN REGION,19941222,221 MIDENHALL WAY,...,6.0,7.0,6.0,4.0,4.0,6,matched (3),6.25,4.333333,5.666667
19,27603,10100476,21480,1790.000000,2274.580078,3,8,NORTHERN REGION,20030314,8412 OLD PONDEROSA CIR,...,10.0,10.0,3.0,8.0,10.0,5,matched (3),8.00,5.666667,8.666667

In [43]:
# Remove missing values

## First diagnose missingess - print total observations for each survey item
# counts only non-missing
total_rows = attitudes.count()
print(total_rows)

zip                               4705
SAMPLE_ID                         4705
SAMPLE_ENERGY                     4705
SAMPLE_USAGE                      4705
SAMPLE_REVENUE                    4705
SAMPLE_HHAGE                      4705
SAMPLE_INC                        4705
SAMPLE_REGION                     4705
SAMPLE_ACCOUNT_ACTIVATION_DATE    4705
SAMPLE_MAILING_ADDRESS            4705
SAMPLE_MAILING_CITY               4705
SAMPLE_MAILING_STATE              4705
SAMPLE_MAILING_ZIP                4705
SAMPLE_PRIMARY_PHONE              4705
SAMPLE_SECONDARY_PHONE            4705
SAMPLE_PREMISE_ADDRESS            4705
SAMPLE_PREMISE_CITY               4705
SAMPLE_PREMISE_STATE              4705
SAMPLE_PREMISE_ZIP                4705
SAMPLE_PREMISE_COUNTY             4705
SAMPLE_MONTHS                     4705
SAMPLE_DWELLING                   4705
SAMPLE_FAMCOMP                    4705
SAMPLE_HHADULTS                   4705
SAMPLE_HHCHILDS                   4705
SAMPLE_HHPEOPLE                   4705
SAMPLE_HOMEOWN                    4705
SAMPLE_HISPANIC                   4705
SAMPLE_ADDRYEAR                   4705
SAMPLE_BALANCED_BILL              4705
                                  ...
income150plus                     4705
incomenonreport                   4705
green                             4705
numtvscomputers                   4705
livingspace                       4705
payattn                           4570
considerproduct                   4473
veryhotdays                       4510
myright                           4528
mycellphone                       4291
firstone                          4536
conscientiousrecycle              4552
reduceenergy                      4547
realeffort                        4576
willingchanges                    4584
highenergyproblem                 4570
futurelifeconcern                 4594
ccreal                            4589
scarce                            4515
nuclear                           4481
solar                             4514
wind                              4514
muchasican                        4609
futurepower                       4580
phev                              4551
Q7                                4705
_merge                            4705
greenness                         4413
conserver                         4463
firstadopter                      4189
Length: 136, dtype: int64

In [44]:
attitudes_clean= attitudes.dropna(subset=['greenness', 'conserver', 'firstadopter'])
total_rows = attitudes_clean.count()
print(total_rows)

zip                               4069
SAMPLE_ID                         4069
SAMPLE_ENERGY                     4069
SAMPLE_USAGE                      4069
SAMPLE_REVENUE                    4069
SAMPLE_HHAGE                      4069
SAMPLE_INC                        4069
SAMPLE_REGION                     4069
SAMPLE_ACCOUNT_ACTIVATION_DATE    4069
SAMPLE_MAILING_ADDRESS            4069
SAMPLE_MAILING_CITY               4069
SAMPLE_MAILING_STATE              4069
SAMPLE_MAILING_ZIP                4069
SAMPLE_PRIMARY_PHONE              4069
SAMPLE_SECONDARY_PHONE            4069
SAMPLE_PREMISE_ADDRESS            4069
SAMPLE_PREMISE_CITY               4069
SAMPLE_PREMISE_STATE              4069
SAMPLE_PREMISE_ZIP                4069
SAMPLE_PREMISE_COUNTY             4069
SAMPLE_MONTHS                     4069
SAMPLE_DWELLING                   4069
SAMPLE_FAMCOMP                    4069
SAMPLE_HHADULTS                   4069
SAMPLE_HHCHILDS                   4069
SAMPLE_HHPEOPLE                   4069
SAMPLE_HOMEOWN                    4069
SAMPLE_HISPANIC                   4069
SAMPLE_ADDRYEAR                   4069
SAMPLE_BALANCED_BILL              4069
                                  ...
income150plus                     4069
incomenonreport                   4069
green                             4069
numtvscomputers                   4069
livingspace                       4069
payattn                           4069
considerproduct                   4030
veryhotdays                       4039
myright                           4041
mycellphone                       4069
firstone                          4069
conscientiousrecycle              4069
reduceenergy                      4069
realeffort                        4069
willingchanges                    4069
highenergyproblem                 4041
futurelifeconcern                 4056
ccreal                            4069
scarce                            4019
nuclear                           3997
solar                             4022
wind                              4016
muchasican                        4069
futurepower                       4057
phev                              4069
Q7                                4069
_merge                            4069
greenness                         4069
conserver                         4069
firstadopter                      4069
Length: 136, dtype: int64

In [48]:
attitudes_clean.to_csv("Data/attitudes_clean2.csv", index=False)

In [ ]:
# #Exploratory graphs

# x_axis = attitudes[['highenergyproblem']]
# y_axis = attitudes[['ccreal']]

# plt.title("RELATIONSHIP BETWEEN CONCERN ABOUT ENERGY SUPPLY AND CLIMATE CHANGE")
# plt.xlabel("Climate Concern")
# plt.ylabel("Energy Supply Concern")

# (slope, intercept) = linregress(x_axis, y_axis)
# fit = slope * x_axis + intercept

# fig, ax = plt.subplots()

# fig.suptitle("RELATIONSHIP BETWEEN ENERGY SUPPLY CONCERN AND CLIMATE", fontsize=12, fontweight="bold")

# ax.set_xlim(0, 10)
# ax.set_ylim(0, 10)

# ax.set_xlabel("Climate Concern")
# ax.set_ylabel("Energy Supply Concern")

# ax.plot(x_axis, fake, linewidth=0, marker='o')
# ax.plot(x_axis, fit, 'b--')

# plt.show()